* {
  font-family: Inter Medium;
}



window {
  margin: 1px;
  /*border: 10px solid #7aa2f7;*/
  border: 10px solid #ac10e2;
  border-radius: 10px;
}

#input {
  margin: 0px 5px 0px 5px;
  border-radius: 5px;
  border-color: #414848;
  /*background-color: #20232f;*/
  background-color: #0c0e14;
  color: #c0caf5;

}





#input:focus{/*border-color:#7aa2f7;*/
border-color:#ac10e2;
}

#inner-box {
  margin: 5px;
  /*background-color: #1d202f;*/
  background-color: #12151f;
}

#outer-box {
  margin: 3px;
  padding: 10px;
  /*background-color: #1d202f;*/
  background-color: #12151f;
  border-radius: 10px;
}

#text {
  background-color:transparent;
  margin: 3px;
  color: #c0caf5;
}

#entry:selected {
  /*background-color: #414868;*/
  background-color: #1a1d2b;
}

#text:selected {
background-color:transparent;
  text-decoration-color: #c0caf5;
}
